.wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.btn {
    background-color: cornsilk;
    height: 30px;
    width: 200px;
}

.btn a {
    text-decoration: none;
    color: crimson;
    font-size: larger;
}