.Wrap{
  display: flex;
  flex-direction: row;

}

.Foo {
  background: pink;
  padding-left: 20px;
}

.bar {
  background: lightblue;
  padding-left: 20px;
}

.Footer {
  background: lemonchiffon;
  padding-left: 20px;
}