.header {
    min-height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header a {
    font-size: 30px;
    color: snow;
    text-decoration: none;
}